node_modules
DataSet
tm-my-image-model.zip
.vscode/settings.json
ClientApp/src/environments/environment.development.ts
ClientApp/src/environments/environment.ts
ClientApp/.vscode/settings.json
/test_model
