
<div class="full-nav">
    <nav class="navbar">
        <div class="nav-left">
            <!-- <a href="#" class="brand">DeepFake Detector
            </a> -->
            <ul class="nav-links">
                <li class="nav-link">
                    <a href="/" routerLinkActive="/">Home</a>
                </li>
                <li class="nav-link">
                    <a href="/quiz" routerLinkActive="/quiz">Informacion</a>
                </li>
                <li class="nav-link">
                    <a href="/detector" routerLinkActive="/detector">Detector</a>
                </li>

            </ul>
        </div>
        
        <!-- <div class="nav-right">
            <a href="#" class="post-job">Post a Job</a>
            <a href="#" class="nav-link">Log in</a>
        </div> -->
    </nav>
</div>
