<div class="main">
    <div class="main-content">
        <h1 class="main-title">
            DeepFake
        </h1>
        
        <h3 class="subtitle">
            Detector de imagenes editados o generados mediante inteligencia artificial.
        </h3>
    
        <div class="btn-container">
            <button type="menu" (click)="goToDetector()">
                Clasificar imagen
            </button>
            <!-- <button type="menu" (click)="goToQuizz()">
                Quizz
            </button> -->
        </div>
    
        
    </div>

    <img src="../../../assets/images/ia2.jpg">
</div>

<div class="info">
    <app-information></app-information>
</div>





