<h1>Detectar Deepfake</h1>

<form enctype="multipart/form-data" (submit)="classifyImage($event)">
    <p> Enter Image Url </p>
    <input name="Image" type="file" (change)="onFileSelected($event)">
    <label>Enter image</label>
    <button type="submit"> Predict Image </button>
</form>

@if(existsResult)
{
    <div>
        <h2>Resultados</h2>
        
        <div>
            <h3>{{ resultClassification[0].class }}</h3>
            <p> {{ resultClassification[0].score }}</p>
        </div>

        <div>
            <h3> {{  resultClassification[1].class }}</h3>
            <p> {{ resultClassification[1].score }}</p>
        </div>

    </div>
}
