<div class="content">
    <div class="main-answer">
        <section>
            <h1>
                Que es un Deepfake?
            </h1>
            <p>
                Un deepfake es una tecnica de inteligencia artificial que se utiliza para crear o alterar contenido audiovisual, el cual se caracteriza por su hiperrealismo y su capacidad para replica la apariencia y la voz de personas reales.
                Tal tecnologia puede ser usada para aplicaciones beneficas como el cine.
            </p>
        </section>
        <section>
            <h1>
                Origen
            </h1>
            <p>
                Existen varias teorias sobre su origen pero el primer programa que existió se llama Video Rewrite, y fue generado en 1997.
                Video Rewrite analiza los movimientos de la boca y predice el movimiento que esa persona haría pronunciando una palabra que le pidamos, luego los sincroniza con el discurso que le agregemos y reemplaza el rostro para crear un deep fake
            </p>
        </section>
    </div>
    
    <div class="deep-use">
        <h1>Uso del deepfake</h1>
        <section class="sections">
            <div class="section-point">
                <div class="section-point-content" id="section-point-content-first">
                    <h2 >Político</h2>
                    <p>
                        Se han utilizado para hacer parodias de presidentes y hacerlos decir cosas fuera de contexto.
                    </p>
                </div>
                
                <img src="../../../assets/images/policy.svg" alt="" class="img-sec">
            </div>
            
            <div class="section-point">
                <div class="section-point-content" id="section-point-content-second">
                    <h2>Desnudos</h2>
                    <p>
                        El 90% de los deepfakes que existen actualmente son de desnudos, donde la mayoria no son autorizados y eso ha generado debates sobre la etica de usar esta tecnologia para crear contenido.
                        <!-- Existían aplicaciones que eliminaban la ropa de las mujeres en imagenes que podían subir los usuarios, produciendo desnudos falsos y explícitos sin uso de consentimiento.
                        Esto generó preocupaciones sobre la violación de la privacidad, el uso no consensuado de imágenes y el posible abuso de la tecnología para crear y distribuir contenido sexualmente explícito sin el consentimiento de las personas afectadas.  -->
                    </p>
                </div>
                

                <img src="../../../assets/images/person.svg" alt="" class="img-sec">
            </div>

            <div class="section-point" id="point-three">
                <div class="section-point-content" id="section-point-content-third">
                    <h2>Realities</h2>
                    <p>
                        Netflix estreno en 2023 “Deep Fake Love”, una serie española que utiliza inteligencia artificial para poner a prueba las relaciones de cinco parejas comprometidas. En este reality las parejas se enfrentan a videos perturbadores de sus parejas actuando de manera infiel.<!--  ¿Son estos videos reales o son producto de la inteligencia artificial? Ellas deben adivinar y el es el que acierte más. -->
                    </p>
                </div>
                

                <img src="../../../assets/images/reality.svg" alt="" class="img-sec">
            </div>
            
            
        </section>
    </div>
    
</div>